* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

body {
    background-color: #193256;
}

main {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    /* Para que após, os números fiquem delimitados com o relógio */
}


.clock {
   width: 600px;
   height: 600px;
   background-color: white;
   border-radius: 600px;
   border: 10px solid black;
}

.number {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: aquamarine;  
  position: absolute;
}