* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

body {
    background-color: #193256;
}

main {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.clock {
   min-width: 600px; /*Ao definir um valor minimo, sempre sera o mesmo independente do tamanho da tela.*/
   min-height: 600px;
   background-color: white;
   border-radius: 600px;
   border: 10px solid black;
   position: relative; /* Para que após, os números fiquem delimitados com o tamanho do relógio */
   display: flex;
   align-items: center;
   justify-content: center;
}

.number {
  font-size: 1.8rem;
  font-weight: 600;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 8px;
}
 
.number-1 {  /* Com o atributo transfom rotate é possivel posicionar cada numero com base no seu grau */
    transform: rotate(30deg);
}

.number-2 {  /* Com o atributo transfom rotate é possivel posicionar cada numero com base no seu grau */
    transform: rotate(60deg);
}

.number-3 {  /* Com o atributo transfom rotate é possivel posicionar cada numero com base no seu grau */
    transform: rotate(90deg);
}

.number-4 {  /* Com o atributo transfom rotate é possivel posicionar cada numero com base no seu grau */
    transform: rotate(120deg);
}

.number-5 {  /* Com o atributo transfom rotate é possivel posicionar cada numero com base no seu grau */
    transform: rotate(150deg);
}

.number-6 {  /* Com o atributo transfom rotate é possivel posicionar cada numero com base no seu grau */
    transform: rotate(180deg);
}

.number-7 {  /* Com o atributo transfom rotate é possivel posicionar cada numero com base no seu grau */
    transform: rotate(210deg);
}

.number-8 {  /* Com o atributo transfom rotate é possivel posicionar cada numero com base no seu grau */
    transform: rotate(240deg);
}

.number-9 {  /* Com o atributo transfom rotate é possivel posicionar cada numero com base no seu grau */
    transform: rotate(270deg);
}

.number-10 {  /* Com o atributo transfom rotate é possivel posicionar cada numero com base no seu grau */
    transform: rotate(300deg);
}

.number-11 {  /* Com o atributo transfom rotate é possivel posicionar cada numero com base no seu grau */
    transform: rotate(330deg);
}

.number-12 {  /* Com o atributo transfom rotate é possivel posicionar cada numero com base no seu grau */
    transform: rotate(360deg);
}

.second-hand {
    width: 5px;
    height: 240px;
    background-color: rgb(218, 1, 1);
    position: absolute;
    border-radius: 5px;
    transform: translate(0, -50%); /* Pegou 50% do ponteiro e deslocou para cima, eixo x = 0 não mexe e eixo y = 50% */
    transform-origin: bottom center; /* Com isso é possível pôr a origem de onde o ponteiro vai se deslocar quando passar a girar */
}

.minute-hand {
    width: 8px;
    height: 200px;
    background-color: rgb(0, 1, 40);
    position: absolute;
    border-radius: 5px;
    transform: translate(0, -50%);/* Pegou 50% do ponteiro e deslocou para cima, eixo x = 0 não mexe e eixo y = 50% */
    transform-origin: bottom center; /* Com isso é possível pôr a origem de onde o ponteiro vai se deslocar quando passar a girar */
}

.hour-hand {
    width: 13px;
    height: 150px;
    background-color: rgb(0, 1, 40);
    position: absolute;
    border-radius: 12px;
    transform: translate(0, -50%); /* Pegou 50% do ponteiro e deslocou para cima, eixo x = 0 não mexe e eixo y = 50% */
    transform-origin: bottom center; /* Com isso é possível pôr a origem de onde o ponteiro vai se deslocar quando passar a girar */
}

.center {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    position: absolute;
}